---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedInIcon.astro";
import Icon from "../components/icons/Icon.astro";
import Github from "../components/icons/GitHubIcon.astro";
import Gmail from "../components/icons/GmailIcon.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import JobIcon from "../components/icons/JobIcon.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Adhemar's Porfolio - FullStack Developer"
  description="This is Adhemar's porfolio, a FullStack Developer. Here you can find information about his work experience, projects, and contact information."
>
  <main class="px-3 lg:px-0">
    <SectionContainer class="pt-32 lg:pt-44 mt-0">
      <h1
        class="text-white text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-10"
      >
        Hi, I'm Adhemar <a
          href="https://www.linkedin.com/in/adhemar-duran-gahuincha/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
          ><Badge>Available to work</Badge></a
        >
      </h1>
      <h2 class="text-white text-lg lg:text-2xl opacity-80 text-wrap">
        I'm passionate about software development, specializing in <span
          class="text-orange-300/90">Web Development</span
        >. With a solid foundation and experience in various technologies, I am
        dedicated to crafting high-quality, reliable web applications. I pride
        myself on being <span class="text-orange-300/90">highly adaptable</span>
        and capable of <span class="text-orange-300/90">quickly learning</span> new
        technologies and processes. This adaptability allows me to continuously improve
        my skill set.
      </h2>

      <nav class="flex flex-wrap gap-x-2 gap-y-2 lg:gap-x-4 mt-5">
        <Icon href="https://www.linkedin.com/in/adhemar-duran-gahuincha/">
          <LinkedIn class="size-4 lg:size-6" /> LinkedIn
        </Icon>
        <Icon href="https://github.com/adhes14">
          <Github class="size-4 lg:size-6" /> GitHub
        </Icon>
        <Icon>
          <Gmail class="size-4 lg:size-6" /> adhemarduran@gmail.com
        </Icon>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2
        class="text-white text-xl lg:text-2xl font-semibold mb-6 flex gap-x-2 items-center"
      >
        <JobIcon class="size-6 lg:size-8" /> Work Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2
        class="text-white text-xl lg:text-2xl font-semibold mb-6 flex gap-x-2 items-center"
      >
        <CodeIcon class="size-6 lg:size-8" /> Projects
      </h2>
      <Projects />
    </SectionContainer>
    <Footer />
  </main>
</Layout>
