---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: 'Fullstack Developer',
    company: 'Algoritmos',
    location: 'Remote',
    startDate: 'Sep 2023',
    endDate: 'Present',
    description: 'Maintain the system interface and optimize the user experience to be intuitive and engaging, manage the backend logic, database, and its integration with the frontend ensuring efficient operation, and debug and resolve code issues to maintain software quality and stability.',
    inProgress: true,
  },
  {
    title: 'Fullstack Developer',
    company: 'Freelance',
    location: 'Remote',
    startDate: 'Jan 2022',
    endDate: 'Aug 2023',
    description: 'Design, develop, and maintain user-friendly, functional, and secure websites and web applications for small businesses and startups, write well-structured and efficient code using HTML, CSS, JavaScript, and PHP, and collaborate with other developers, designers, and clients to ensure the quality and usability of web products.',
    inProgress: false,
  },
  {
    title: 'QA Automation Intern',
    company: 'Jalasoft',
    location: 'Remote',
    startDate: 'Jan 2023',
    endDate: 'Apr 2023',
    description: 'Design, develop, and execute automated tests for software applications, ensure the software meets quality standards and requirements, and troubleshoot and report any issues or defects found during the testing process.',
    inProgress: false,
  },
];
---
<ol class="relative border-s border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
