<header id="top" class="text-white flex justify-between items-center py-3 md:w-[768px] lg:w-[1024px] mx-auto px-3 lg:px-0">
  <img src="/img/adhe-bg.jpg" alt="adhe photo" class="rounded-full w-16 h-16 mr-10 lg:mr-0" />
  <nav class="flex flex-row gap-x-5 lg:gap-x-10 opacity-80 text-xs lg:text-lg">
    <a href="#experience">Experience</a>
    <a href="#projects">Proyects</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
