<header id="top" class="text-white flex justify-between items-center py-3 w-[1024px] mx-auto">
  <img src="/img/adhe-bg.jpg" alt="adhe photo" class="rounded-full w-16 h-16" />
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Home</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Proyects</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
